@use "./styles/partials/resets" as *;
@use "./styles/partials/mixins" as *;
@use "./styles/partials/typography";
@use "./styles/partials/variables" as *;

body {
  font-family: Outfit;
  background-color: $primary-background-color;
  margin: 0;
}
