@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.message {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin-bottom: 1rem;
  // position: absolute;

  &__content {
    width: 20rem;
    // height: 4rem;
    border-radius: 15px;
    // margin: 2rem 2rem 0.5rem;
    background-color: $tertiary-background-color;
    font-weight: 300;
    padding: 0.7rem 1rem;
  }

  &__translated-message {
    color: white;
    font-weight: 300;
  }

  &__btn {
    width: 5rem;
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-right: 2rem;
    background-color: white;
    border: 1px solid $button-color;
    border-radius: 5px;
    color: $button-color;
    cursor: pointer;
  }
}
