$primary-background-color: #f1f7fd;
$secondary-background-color: #9ecdf2;
$tertiary-background-color: #70b1ea;
$primary-accent-color: #3978d7;
$button-color: #4a90e2;
// $primary-color: #dfedfa;
// $secondary-color: #c6e0f7;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
