@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.chatbot {
  @include main-container;
  background: white;

  &__title {
    @include page-title;
  }

  &__window {
    height: fit-content;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  &__window-footer {
    background-color: rgba(222, 222, 222, 0.657);
    height: 13.7%;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    @include tablet-and-above {
      height: 14%;
    }
  }

  &__btn {
    @include button;
    border-radius: 5px;
  }
}
